:root {
    --first-color: #FEB757;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background: #FFEFDA
}



.flex-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* navbar */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    border-bottom: 1px solid black;
    box-shadow: 0 0 5px black;
    background: #fff;
}


.nav-input {
    outline: none;
    width: 586px;
    height: 45px;
    font-size: 24px;
    border: none;
    border-radius: 25px;
    margin-right: 10px;
    padding: 0 0 0 20px;
    background: var(--first-color);
    font-family:'Gill Sans MT';
}

.nav-input_after {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 25px;
    top: calc(50% - 12px);
}
/*.input::before {
    content: url("assets/icons/search.svg");
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}*/
.nav-filter {
    width: 52px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: var(--first-color);
    border-radius: 7px;
}

.nav-seller {
    padding: 0 12px;
    height: 32px;
    border: none;
    background: var(--first-color);
    border-radius: 7px;
}

.nav-balance {
    display: flex;
    align-items: center;
}
#fuckingCart{
    background-color: inherit;
    border: inherit;
}

.nav-balance_cart{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.nav-balance_info {
    list-style: none;
    text-align: center;
}

.nav-balance_info-items {
    color: #BFBFBF;
}
/*main*/

.main{
    padding: 1.5rem
}

/*main first section*/
.main-firstSection{
    background: #FFDBA3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5rem;
    border-radius: 30px;
    box-shadow: 0 5px 3px -3px gray;
    margin-bottom: 2rem;
}


.main-firstSection > :nth-child(n){
    position: relative;
}
.main-firstSection > :nth-child(n) > * {
    box-shadow: 0 0 10px black;
    border-radius: 30px;
    width: 7.5rem;
    height: 7.5rem;

}
/*.main-firstSection > * > .onHover {
    visibility: hidden;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 7.5rem;
    bottom: -2rem;
    height: 2rem;
    right: 0;
    left: 0;
    border-radius: 0;
}

.main-firstSection > *:hover > .onHover {
    visibility: visible;
    display: flex;
}*/


@keyframes increase {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
.demoHover:hover{
    animation: ease-in-out increase .2s forwards;
}


/*main second section*/

.main-secondSection_h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    font-weight: lighter;
    margin-bottom: 2rem;
}
.main-secondSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    background: #FFDBA3;
    padding-top: 1.5rem;
    box-shadow: 0 5px 3px -3px gray;
    margin-bottom: 5rem;

}
.main-secondSection article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-secondSection article a img{
    border-radius: 30px;
    width: 15rem;
    box-shadow: 0 0 10px black;
}
.main-secondSection article span{
    font-size: 1.5rem;
    font-weight: lighter;
    margin: .5rem 0;
}

/*main third section*/
.main-thirdSection{
    display: grid;
    gap: 5rem;
    grid-template-columns: 1fr 1fr;
}
.main-thirdSection article{
border-radius: 30px;
    background: #FFDBA3;
    padding: 1rem;
}
.main-thirdSection_name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.main-thirdSection_content{
    display: flex;
    justify-content: space-evenly;
}
.main-thirdSection_name svg{
    margin-right: .5rem;
}
.main-thirdSection_content img {
    width: 10rem;

}
.main-thirdSection_content div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-thirdSection_content div .main-thirdSection_content-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main-thirdSection_content div .main-thirdSection_content-text span:first-child{
    margin-right: .3rem;
}
.main-thirdSection_content div .main-thirdSection_content-text span:last-child{
    font-weight: 100;
}










