:root {
    --first-color: #FEB757;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background: #FFEFDA
}



.flex-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* navbar */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    border-bottom: 1px solid black;
    box-shadow: 0 0 5px black;
    background: #fff;
}


.nav-input {
    outline: none;
    width: 586px;
    height: 45px;
    font-size: 24px;
    border: none;
    border-radius: 25px;
    margin-right: 10px;
    padding: 0 0 0 20px;
    background: var(--first-color);
    font-family:'Gill Sans MT';
}

.nav-input_after {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 25px;
    top: calc(50% - 12px);
}
/*.input::before {
    content: url("assets/icons/search.svg");
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}*/
.nav-filter {
    width: 52px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: var(--first-color);
    border-radius: 7px;
}

.nav-seller {
    padding: 0 12px;
    height: 32px;
    border: none;
    background: var(--first-color);
    border-radius: 7px;
}

.nav-balance {
    display: flex;
    align-items: center;
}
#fuckingCart{
    background-color: inherit;
    border: inherit;
}

.nav-balance_cart{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.nav-balance_info {
    list-style: none;
    text-align: center;
}

.nav-balance_info-items {
    color: #BFBFBF;
}
/*main*/

.main{
    padding: 1.5rem
}

/*main first section*/
.main-firstSection{
background: #FFDBA3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: 50px;
    box-shadow: 0 4px 4px gray;
    margin-bottom: 2rem;
}


.main-firstSection > :nth-child(n){
    position: relative;
}
.main-firstSection > :nth-child(n) > * {
    box-shadow: 0 0 6px 5px rgba(0, 0, 0, .6);
    border-radius: 30px;
    width: 7.5rem;
    height: 7.5rem;

}
.main-firstSection > * > .onHover {
    visibility: hidden;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.main-firstSection > *:hover > .onHover {
    visibility: visible;
    display: flex;
}



/*main second section*/

.main-secondSection h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    font-weight: lighter;
    margin-bottom: 2rem;
}





